.timeline {
  --sb-track-color: #000000;
  --sb-thumb-color: #1d9bf0;
  --sb-size: 5px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.timeline::-webkit-scrollbar {
  width: var(--sb-size);
}

.timeline::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.timeline::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}
